{% extends '../sub_base.html' %}
{% block title %}Log-in{% endblock %}

{% block sub_content %}

<form class="account-form p-4 rounded" action="{% url 'account:login' %}" method="post">

    {% csrf_token %}
    <h3 class="mb-4">Sign In</h3>

    {% if form.errors %}
    <div class="alert alert-primary" role="alert">
        Error: Username or Password not correct!
    </div>
    {% endif %}

    <label class="form-label">{{ form.username.label}}</label>
    {{ form.username}}

    <label class="form-label">{{ form.password.label}}</label>
    {{ form.password}}
    <div class="d-grid gap-2">
        <input type="hidden" name="next" value="{{ next }}">
        <button class="btn btn-primary py-2 mb-4 mt-5 fw-bold" type="submit" value="Log-in">Sign in
        </button>

    </div>
    <div class="text-center pt-1 mb-5 pb-1">
        <a class="text-muted" href="{% url 'account:pwdreset' %}">Forgot password?</a>
    </div>

    <div class="d-flex align-items-center justify-content-center pb-4">
        <p class="mb-0 me-2">Don't have an account? <a href="{% url 'account:register' %}" class="link-info">Register
                here</a></p>
    </div>
    <hr class="my-4">
    <div class="text-center pt-1 mb-5 pb-1">
        <button class="btn btn-primary btn-lg btn-block mb-2" style="background-color: #dd4b39;" type="submit"><i
                class="fab fa-google me-2"></i>Sign in with
            google</button>
        <button class="btn btn-primary btn-lg btn-block mb-2" style="background-color: #3b5998;" type="submit"><i
                class="fab fa-facebook-f me-2"></i>Sign in with
            facebook</button>
    </div>


</form>
{% endblock %}